<div class="row">
  <div class="col-md-4 col-lg-3">
    <button class="btn back-button" (click)=backClicked()>Back to Search</button>
  </div>
  <div class="col-md-8 col-lg-9" *ngIf="item">
    <h4 class="article-title">{{item.title}}</h4>
    <p class="mb-2 article-meta">
      <span class="date">
        <span class="fa fa-calendar" aria-hidden="true"></span> {{item.version_date | date}}
      </span>
      <span class="authors">
        <span class="fa fa-user" aria-hidden="true"></span>
        <span class="author" *ngFor="let author of item.authors; index as i;">{{author}}{{ i < item.authors.length - 1 ? ', ' : '' }}</span>
      </span>
    </p>
    <small>{{item.type_of_article}}</small>
    <br><small>{{item.research_status}}</small>
    <hr>
    <h6>Abstract</h6>
    <p class="article-text">{{item.abstract}}</p>
    <hr>
    <h6>Keywords</h6>
    <small *ngFor="let keyword of item.keywords;let i=index">{{keyword}}<span *ngIf="i!==item.keywords.length-1">,</span> &nbsp;</small>
    <hr>
    <a href="{{item.link}}" target="_blank"><u><h6>View Article</h6></u></a>
  </div>
</div>
