<div class="container-fluid zero-pad-container">
  <div class="row">
    <div class="col-12">
      <div id="custom-search-input">
        <div class="input-group">
          <input [(ngModel)]="searchText"  name="searchDoc" type="text" id="search" type="text" class="search-query form-control" placeholder="Search" />
          <span class="input-group-btn">
            <button type="button" disabled>
              <span class="fa fa-search"></span>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="list-group" *ngFor="let item of events | filter: searchText">
        <div class="flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1" class="article-title">{{item.title}}</h5>
          </div>
          <p class="mb-1 article-text">{{item.abstract}}</p>
          <a href="{{item.link}}" class="wrap-content" target="_blank"><u><h6>{{item.link}}</h6></u></a>
          <p class="article-meta">
            <span class="geography">
              <span class="fa fa-map-marker" aria-hidden="true"></span> {{item.geographic_scope}}
            </span>
            <span class="date">
              <span class="fa fa-calendar" aria-hidden="true"></span> <span>{{item.start_date | date}}</span> - <span>{{item.end_date | date}}</span>
            </span>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
