.push-button-down {
	margin-top: 5%;
}

/* #search {
width: 40%;
margin-left: 90%;
} */

#custom-search-input {
	margin:0;
	margin-top: 10px;
	padding: 0;
	margin-left: 25.5%;
}

#custom-search-input .search-query {
	width:100%;
	padding-right: 3px;
	padding-left: 15px;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 0;
}

#custom-search-input button {
	border: 0;
	background: none;
	/** belows styles are working good */
	padding: 2px 5px;
	margin-top: 2px;
	position: absolute;
	right:0;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#D9230F;
	cursor: unset;
	z-index: 2;
}

.search-query:focus{
	z-index: 0;
}

.bg-blue{
	background-color: #0081C6 !important;
}

.article-title{
	color: #0081C6
}

.btn-outline-primary {
	color:#0081C6 !important;
	border-color:#0081C6;
	font-family: sans-serif;
	font-size: medium;
	margin-left: -27px !important;
	/* width:118%; */
	/* border-radius: 4px !important; */
}

.c-btn {
	font-size: medium !important;
	font-family: sans-serif !important;
	border-color: #0081C6 !important;
	color: #0081C6 !important;
	box-shadow: none !important;
	padding: 7px !important;
}



.btn-outline-primary:hover {
	background-color: #0081C6 !important;
	color: white !important;
}

.dr-dropdown{
	margin-left: -11px;
}

.btn-pressed {
	background-color: #0081C6 !important;
	color: white !important;
}

.emphasize{
	font-family: sans-serif;
	font-size: medium;
	margin-left:-12px;
	color: #0081C6;
	/* font-size: x-large; */
}

.button-checkbox {
	position: relative;
	border: 1px solid;
	border-radius: 3px;
	border-color: #0081C6;
	padding-top:5px;
	padding-left:5px;
}

.label-margin{
	margin-left: 5px;
	color:#0081C6 !important;
	border-color:#0081C6;
	font-family: sans-serif;
	font-size: medium;
	width:118%;
	padding-left: 10px;
}

.btn-group-vertical{
	width:116%;
}

.arrow-2{
	border-bottom: 15px solid #0081C6 !important;
}

.list-area{
	box-shadow: 0px 1px 8px #0081C6 !important;
}
